* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fb;
    color: #222;
    line-height: 1.6;
}


header {
    background-color: #172554;
    color: white;
    padding: 18px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.logo span {
    color: #38bdf8;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}


.hero {
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 40px 20px;

    background:
        linear-gradient(
            rgba(23, 37, 84, 0.80),
            rgba(30, 64, 175, 0.80)
        ),
        url("assets/gambar/hero.jpg");

    background-size: cover;
    background-position: center;

    color: white;
}

.hero-content {
    max-width: 850px;
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.hero h1 span {
    color: #38bdf8;
}

.hero p {
    font-size: 20px;
    margin-bottom: 15px;
}


.btn {
    display: inline-block;

    background-color: #38bdf8;
    color: #082f49;

    padding: 13px 25px;
    margin: 10px 5px;

    border-radius: 8px;

    text-decoration: none;
    font-weight: bold;

    transition: 0.3s;
}

.btn:hover {
    background-color: white;
    transform: translateY(-3px);
}

.btn-outline {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.btn-outline:hover {
    background-color: white;
    color: #172554;
}


.countdown {
    display: flex;
    justify-content: center;
    gap: 15px;

    margin-top: 30px;

    flex-wrap: wrap;
}

.time-box {
    background-color: rgba(255, 255, 255, 0.15);

    padding: 15px 20px;

    border-radius: 10px;

    min-width: 90px;

    backdrop-filter: blur(5px);
}

.time-box h2 {
    font-size: 28px;
}

.time-box p {
    font-size: 13px;
    margin: 0;
}


section {
    padding: 70px 7%;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2 {
    color: #172554;
    font-size: 35px;
    margin-bottom: 10px;
}

.section-title p {
    color: #64748b;
}


.about {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 40px;

    align-items: center;
}

.about img {
    width: 100%;

    border-radius: 15px;

    box-shadow:
        0 8px 25px rgba(0, 0, 0, 0.12);
}

.about-text h3 {
    color: #1d4ed8;

    font-size: 28px;

    margin-bottom: 15px;
}

.about-text p {
    color: #475569;
}


.info-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.info-card {
    background-color: white;

    padding: 25px;

    text-align: center;

    border-radius: 15px;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, 0.08);

    transition: 0.3s;
}

.info-card:hover {
    transform: translateY(-7px);
}

.info-card .icon {
    font-size: 40px;

    margin-bottom: 10px;
}

.info-card h3 {
    color: #172554;

    margin-bottom: 5px;
}


.table-container {
    overflow-x: auto;
}

table {
    width: 100%;

    border-collapse: collapse;

    background-color: white;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, 0.08);

    border-radius: 10px;

    overflow: hidden;
}

th {
    background-color: #172554;

    color: white;

    padding: 15px;
}

td {
    padding: 15px;

    border-bottom: 1px solid #ddd;

    text-align: center;
}

tr:hover {
    background-color: #eff6ff;
}


.team {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

.team-card {
    background-color: white;

    text-align: center;

    padding: 25px;

    border-radius: 15px;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, 0.08);

    transition: 0.3s;
}

.team-card:hover {
    transform: translateY(-7px);
}

.team-card img {
    width: 130px;
    height: 130px;

    object-fit: cover;

    border-radius: 50%;

    margin-bottom: 15px;
}

.team-card h3 {
    color: #172554;

    margin-bottom: 5px;
}

.team-card p {
    color: #64748b;
}


.gallery {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 220px;

    object-fit: cover;

    border-radius: 12px;

    transition: 0.3s;
}

/* .gallery img:hover {
    transform: scale(1.03);
} */


.form-container {
    max-width: 700px;

    margin: auto;

    background-color: white;

    padding: 35px;

    border-radius: 15px;

    box-shadow:
        0 5px 25px rgba(0, 0, 0, 0.08);
}

.form-group {
    margin-bottom: 18px;
}

label {
    display: block;

    margin-bottom: 7px;

    font-weight: bold;

    color: #172554;
}

input,
select,
textarea {
    width: 100%;

    padding: 12px;

    border: 1px solid #cbd5e1;

    border-radius: 7px;

    font-size: 15px;

    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #1d4ed8;
}

textarea {
    resize: vertical;

    min-height: 100px;
}



button {
    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 8px;

    background-color: #1d4ed8;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background-color: #172554;
}



footer {
    background-color: #172554;

    color: white;

    text-align: center;

    padding: 30px;
}

footer h3 {
    margin-bottom: 8px;
}

footer span {
    color: #38bdf8; 
}



@media (max-width: 800px) {

    header {
        flex-direction: column;

        gap: 15px;
    }

    nav {
        text-align: center;
    }

    nav a {
        display: inline-block;

        margin: 5px;

        font-size: 13px;
    }

    .hero h1 {
        font-size: 38px;
    }

    .hero p {
        font-size: 17px;
    }

    .about,
    .info-container,
    .team,
    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery img {
        height: 250px;
    }

    .section-title h2 {
        font-size: 30px;
        color: darkgray;
    }

    .time-box {
        min-width: 70px;

        padding: 10px;
    }

    .time-box h2 {
        font-size: 22px;
    }
}


@media (min-width: 801px) and (max-width: 1100px) {

    .hero h1 {
        font-size: 45px;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .team {
        grid-template-columns: repeat(2, 1fr);
    }

}